.box {
    width: 70%;
    height: 70%;
    position: relative;
    margin: 0 auto;
}

.imagebackground {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.topLeftRegulator {
    top: -45px;
    position: absolute;
    width: 30%;
    left: 0;
}

.topRightRegulator {
    right: 0%;
    top: -45px;
    position: absolute;
    width: 30%;
    transform:rotate(180deg);
}

.bottomLeftRegulator {
    bottom: -45px;
    position: absolute;
    width: 30%;
    transform:rotate(180deg);
    right: 0%;
    display: inline-block;
}

.bottomRightRegulator {
    left: 0%;
    position: absolute;
    width: 30%;
    bottom: -45px;
}