.box {
    width: 90%;
    height: 20em;
    background-image: url(./img/Super_Mario_World.jpg);
    background-repeat: round;
    position: relative;
}

.topLeftRegulator {
    top: -15%;
    position: absolute;
    width: 30%;
    left: 0;
}

.topRightRegulator {
    right: 0%;
    top: -15%;
    position: absolute;
    width: 30%;
    transform:rotate(180deg);
}

.bottomLeftRegulator {
    bottom: -15%;
    position: absolute;
    width: 30%;
    transform:rotate(180deg);
    right: 0%;
}

.bottomRightRegulator {
    left: 0%;
    position: absolute;
    width: 30%;
    bottom: -15%;
}

@media only screen and (max-width: 450px) {
    .box {
        width: 90%;
        height: 13em;
    }   
}